# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

.idea

/temp
src/demo
src/assets/cards
src/assets/splash.png
src/assets/adaptive-icon.png
src/assets/favicon.png
src/components/AvaliationPopup.js
src/components/AvaliationText.js
src/components/Card.js
src/components/CardContent.js
src/components/PersonalizedText.js
src/components/CardContentPhantom.js
src/Pages
src/assets/icon.png
src/assets/icons/dark.png
src/assets/icons/light.png
src/assets/icons/phantom.png
src/assets/icons/sees.png
src/assets/icons/truth.png
src/theme-handler/
src/screens/DrawingScreen.js
src/assets/img/test
